* {
  margin: 0;
  padding: 0;
}
.App {
  width: 80%;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
}

.header-links {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.country {
  width: 200px;
  height: 200px;
  background: lightblue;
}

.country img {
  width: 100%;
}